@import './variables.scss';
@import './material.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    height: 100%;
}

div#app {
    height: 100%;
}

div.md-elevation-2 {
    box-shadow: 0 0px 0px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.02)
}

$primary: #2290FF;
$accent: #FF5274;